# Last.fm API credentials for lastfm-love-now.
# Do not commit a filled copy of this file.
LASTFM_USER=""
LASTFM_API_KEY=""
LASTFM_API_SECRET=""
LASTFM_SESSION_KEY=""

# Required only for ytm-lastfm-sync.
YTMUSIC_CLIENT_ID=""
YTMUSIC_CLIENT_SECRET=""

# Set to 0 to disable desktop notifications.
LASTFM_LOVE_NOTIFY=1
